
.btn {
    @extend %baseButton;
}

.btn-classic {
    @extend %baseButton;
    background: #eee;
    border-color: #ccc;
    border-radius: 1px;
    border-width: 1px;
    color: #333;
    text-shadow: none;
    &:hover,
    &:focus {
        background: #e9e9e9;
    }
    &:active {
        border-color: #555;
    }
}
