.visible {
    display: inline-block;
}
.hide {
    display: none;
}
@include respond(">mobile") {
    .visible-mobile {
        display: inline-block;
    }
    .hide-mobile {
        display: none;
    }
}
@include respond(">tablet") {
    .visible-tablet {
        display: inline-block;
    }
    .hide-tablet {
        display: none;
    }
}
@include respond(">dekstop") {
    .visible-desktop {
        display: inline-block;
    }
    .hide-desktop {
        display: none;
    }
}
@include respond(">dekstop-large") {
    .visible-desktop-lg {
        display: inline-block;
    }
    .hide-desktop-lg {
        display: none;
    }
}
