* {
  box-sizing: border-box;
}


blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul,
fieldset,
input,
select,
textarea {
    margin-bottom: 1rem;
}


li,
label,
legend,
 {
    margin-bottom: .5rem;
}
