// essentials.css variables
$baseFontFamily: Arial;

// Header variables
$headerHeight: 60px;
$headerBackgroundColor: #fff;
$headerLogoFontSize: 32px;
$headerLogoColor: #333;
$headerNavigationLinkColor: #444;
$headerNavigationLinkColorHover: #999;
$headerNavigationLinkFontSize: 18px;



//Breadcrumb variables
$breadcrumbPadding: 5px;
$breadcrumbMargin: 10px;
$breadcrumdLinkColor: #444;
$breadcrumdActiveColor: #222;
$breadcrumbItemSpacing: 5px;
$breadcrumdLinkColorHover: #999;
