
// essentials.css variables
$fontFamily: Arial;

// Header variables
$headerHeight: 60px;
$headerBackgroundColor: #fff;
$headerLogoFontSize: 32px;
$headerLogoColor: #333;
$headerNavigationLinkColor: #444;
$headerNavigationLinkColorHover: #999;
$headerNavigationLinkFontSize: 18px;
