// essentials.css variables
$baseFontFamily: Arial;

// screen sizes
$breakpoints: (
  "small": 768px,
  "medium": 990px,
  "large": 1280px
);

// grid variables
$gridColums: 12;
$containerPadding: 10px;

//visible variables
$visibleColums: 12;

// Header variables
$headerHeight: 60px;
$headerBackgroundColor: #fff;
$headerLogoFontSize: 32px;
$headerLogoColor: #333;
$headerNavigationLinkColor: #444;
$headerNavigationLinkColorHover: #999;
$headerNavigationLinkFontSize: 18px;

//Breadcrumb variables
$breadcrumbPadding: 5px;
$breadcrumbMargin: 10px;
$breadcrumdLinkColor: #444;
$breadcrumdActiveColor: #222;
$breadcrumbItemSpacing: 5px;
$breadcrumdLinkColorHover: #999;

// Button variables
$btnColors: (
     "red",
     "blue",
     "yellow"
);
