


%baseButton {


    background-color: #f0f0f0;
    border-color: transparent;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 2px 1px;
    box-shadow: 0 0 2px #ccc;
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: .03em;
    line-height: 1.2em;
    padding: 6px 17px 6px 17px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px #ccc;
    transition: background 300ms ease;
    user-select: none;
    white-space: nowrap;
    
    &:hover {
        background-color: $silver;
    }

    &[disabled] {
        background: #c0c0c0;
        border-color: #c0c0c0;
        color: #fff;
        cursor: not-allowed;
        text-shadow: 0 1px 1px #444;
    }
}


@mixin baseButtonStyle() {

}
