

@mixin displayFlex() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@mixin flex($flex) {
    -webkit-flex: $flex;
        -ms-flex: $flex;
            flex: $flex;
}

@mixin flexWrap($wrap) {
    -webkit-flex-wrap: $wrap;
            flex-wrap: $wrap;
}


@mixin flexWidth($width) {
    -webkit-flex-basis: $width;
            flex-basis: $width;
}
