.navbar a:not(.selected):hover {
	color: #888;	
}


.page-content section > article {
	padding: 15px 0;
}
pre {
	margin:0px;
}

.html {
	max-height: 370px;
}

section .line h1,
section .line h2,
section .line h3,
section .line h4,
section .line h5,
section .line h6 {
	display: inline-block;
}

section .content {
	padding: 10px 5px;
	color: #444;
}

section .section-content {
	padding: 10px;
}
section .html {
	position: relative;
}

.spaced > * {
	padding: 5px;
}


section .html .code-icon {
	position: absolute;
	right: 10px;
	top: 10px;
	transition: all 200ms ease;
	cursor: pointer;
	font-size: 22px;
}
section .html .code-icon:hover {
	transform: scale(1.3);
}
.section-article > * {
	padding: 5px 15px;
}
.page-content section:first-child {
	margin-top: 100px;
}

.navbar .selected {	border-bottom: 1px solid #333; }
.header { box-shadow: none;padding:70px; }

.command {
	background: #e0e0e0;
	color: #333;
	padding: 2px 4px;
	border-radius: 2px;
}
.page-title {
	margin-top: 40px;
	padding:50px;
	font-size:72px;
	font-weight: 900;
}
code {
	overflow: scroll;
}

.footer { padding: 0 15px; line-height: 60px;background: #fff; }
.footer > span {
	font-size: 15px;
	color: #444;
}

/*
Documantation navigation
*/
.doc-navigation {
	position: fixed;
	display: inline-block;
	max-width: 200px;
	width: 14.44%;
	background: #fff;
	padding: 10px;
	margin:10px;
	border: 1px solid #f0f0f0;
	box-shadow: 0px 0px 3px #c0c0c0;
	top: 40%;
	list-style: none;
}
.doc-navigation > li > a {
	display: inline-block;
	width: 100%;
	padding: 4px 2px;
	border-bottom: 1px solid #c0c0c0;
	color: #444;
}
.doc-navigation > li:last-child > a {
	border: none;
}
.doc-navigation > li > a.focused {
	font-weight: 900;
}

.grid [class^="col-"] {
	padding: 5px;
	background: #f0f0f0;
	border: 3px solid #fff;
	font-size: 12px;
	text-align: center;
}


/* Media queries */
@media screen and (max-width: 880px) {
	.page-title {
		padding: 25px;
		font-size: 38px;
	}
	.doc-navigation {
		max-width: 90%;
		margin: 0 auto;
		position: relative;
		display: block;
		width:100%;
		margin-top: 100px;
	}
	.page-content section:first-child {
		margin-top: 50px;
	}
	.col-6 {
		flex-basis: 100%;
		max-width: 100%;
	}
}
@media screen and (max-width: 480px) {

	.page-title {
		padding: 25px;
		font-size: 28px;
	}
	.header {
		padding: 10px;
	}
}