html
  head
    title Awesome
    //- Link libraries
    link(href="https://fonts.googleapis.com/css?family=Roboto",rel="stylesheet")
    link(href="https://unpkg.com/essentials.css@1.3.5/dist/essentials.min.css",rel="stylesheet")
    link(href="storage/cssbin/main.css",rel="stylesheet")
    
  body
    
    //- Include header
    include include/header.pug
    
    h1 test!!!
    
    //- Footer    
    include include/footer.pug
