.clearfix:after
	clear: both
	content: ""

.centerY
	position: absolute
	top: 50%
	translateY(-50%)

.centerX
	position: absolute
	left: 50%
	translateX(-50%)

.centerXY,
.centerYX
	position: absolute
	top: 50%
	left: 50%
	translate(-50%, -50%)
