.row
  box-sizing: border-box
  display: flex
  flex: 0 1 auto
  flex-direction: row
  flex-wrap: wrap

  &.reverse
    flex-direction: row-reverse

  &.center
    align-items: center
    justify-content: center

  &.vertical-center
    align-items: center

  &.horizontal-center
    justify-content: center


.container
  margin-left: auto
  margin-right: auto
  padding-right: 15px;
  padding-left: 15px;
  max-width: $container_max_width



[class^="col"]
  box-sizing: border-box
  flex: 0 0 auto

.col
  flex-grow: 1
  flex-basis: 0
  max-width: 100%


// grid columns
@for $i from 1 through $grid_colums

  .#{col}-#{$i}
    flex-basis: $i / $grid_colums * 100%
    max-width: $i / $grid_colums * 100%

  .#{offset}-#{$i}
    margin-left: $i / $grid_colums * 100%

// respond extra-small
@include respond(extra-small)
  @for $i from 1 through $grid_colums
    
    .#{col}-xs-#{$i}
      flex-basis: $i / $grid_colums * 100%
      max-width: $i / $grid_colums * 100%
    
    .#{offset}-xs-#{$i}
      margin-left: $i / $grid_colums * 100%

// media queries for grid system

// respond small
@include respond(small)
  @for $i from 1 through $grid_colums

    .#{col}-sm-#{$i}
      flex-basis: $i / $grid_colums * 100%
      max-width: $i / $grid_colums * 100%

    .#{offset}-sm-#{$i}
      margin-left: $i / $grid_colums * 100%


// respond medium
@include respond(medium)
  @for $i from 1 through $grid_colums

    .#{col}-md-#{$i}
      flex-basis: $i / $grid_colums * 100%
      max-width: $i / $grid_colums * 100%
    
    .#{offset}-md-#{$i}
      margin-left: $i / $grid_colums * 100%


// respond wide
@include respond(wide)
  @for $i from 1 through $grid_colums

    .#{col}-wd-#{$i}
      flex-basis: $i / $grid_colums * 100%
      max-width: $i / $grid_colums * 100%

    .#{offset}-wd-#{$i}
      margin-left: $i / $grid_colums * 100%



