h1,
h2,
h3,
h4,
h5,
h6
  color: $header_color
  margin: $header_margin
  padding: $header_padding
  font-weight: 300

h1, .h1
  font-size: 46px

h2, .h2
  font-size: 36px

h3, .h3
  font-size: 28px

h4, .h4
  font-size: 22px

h5, .h5
  font-size: 18px

h6, .h6
  font-size: 14px

p, .p
  color: #333
  font-size: 14px

.b,
.bold
  font-weight: bold

a
  color: $blue
  @include transition(color 200ms ease)
  cursor: pointer
  text-decoration: none
  &:hover,
  &:focus
    color: $blue_light
